[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "*"

[dev-packages]
watchdog = {extras = ["watchmedo"] }
pytest = "*"

[scripts]
dev = 'python main_dev.py'
start = 'python main.py'
tests = 'pytest'

[requires]
python_version = "3.11"
